
*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.os-animation{
  opacity: 0;
}
.os-animation.animated{
  opacity: 1;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.full-section{
  height: 100vh !important;
  display: flex;
  align-items: center;
}

.container{
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row{
  flex-wrap: wrap;
  display: flex;
}


img{
  max-width: 100%;
}

a{
  color: $primary;
  text-decoration: none;
  transition: $transition;
  &:hover{
    color: $text;
  }
}



.position{
  &-relative{
    position: relative;
  }
  &-absolute{
    position: absolute;
  }
  &-fixed{
    position: fixed;
  }
}

.text{
  &-center{
    text-align: center;
  }
}

@keyframes scale {
  0%   {transform: scale(1.5);}
  100%  {transform: scale(0.6);}
}

