
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@function photoshop-letterspacing-to-ems($val) {
  @return ( $val / 1000 ) * 1em
}

@function photoshop-letterspacing-to-pixels($val, $font-size) {
  @return ( $val * $font-size / 1000 ) * 1px
}

@mixin centerAbs() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

$baseFontSize : 16;
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            'Muli', $font-family-sans-serif !default;

$text: #333333;
$primary: #01a6c9;
$secondary: #001927;
$warning: #ffcd19;

$transition: all 0.35s ease-in-out;