@media only screen and (max-width: 1500px) {
  html,body{
    font-size: 13px;
  }
  .home_text_section{
    &__img{
      flex: 0 0 30%;
      max-width: 30%;
      position: relative;
    }
    &__text{
      flex: 0 0 70%;
      max-width: 70%;
      padding-left: rem(60);
    }
    &.right_img{
      .home_text_section{
        &__text{
          padding-right: rem(60);
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .container{
    max-width: 1010px;
  }
  .full_section_wrapper{
    .swiper-pagination{
      right: 25px;
    }
  }
}

@media only screen and (max-width: 1100px) {

  .container{
    max-width: 900px;
  }

}

@media only screen and (max-width: 991px) {

  .container{
    max-width: 810px;
  }
  .footer{
    &__left{
      flex: 0 0 30%;
      max-width: 30%;
    }
    &__right{
      flex: 0 0 70%;
      max-width: 70%;
      .row{
        justify-content: flex-start;
      }
      .footer_item{
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
      }
      .copyright{
        position: relative;
        text-align: right;
        bottom: 0;
      }
    }
  }
}


@media only screen and (max-width: 768px) {

  .os-animation{
    opacity: 1;
  }

  .navbar{
    &-nav{
      background: #001927;
      padding-top: 10px;
      padding-bottom: 10px;
      &__brand{
        width: rem(70);
      }
    }
    &-hamburger{
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
      padding-top: 8px;
      padding-bottom: 8px;
      span{
        width: 30px;
        height: 3px;
        background: #fff;
        display: block;
        transition: all 0.5s ease-in-out;
        &:first-child, &:last-child{
          content: '';
          display: block;
          width: 30px;
          height: 3px;
          background: #fff;
          position: absolute;
          left: 0;
          opacity: 1;
        }
        &:first-child{
          top: 0;
        }
        &:last-child{
          bottom: 0;
        }
      }
      &.active{
        span{
          &:first-child{
            transform: rotate(45deg);
            top: 8px;
          }
          &:nth-child(2){
            opacity: 0;
          }
          &:last-child{
            transform: rotate(-45deg);
            bottom: 8px;
          }
        }
      }
    }
  }

  .nav{
    position: fixed;
    left: -100%;
    top: 90px;
    width: 80%;
    background: #fff;
    height: 100%;
    flex-direction: column;
    padding: 50px 25px 50px 25px;
    transition: all 0.5s ease-in-out;
    &-link{
      margin-left: 0;
    }
    &-link{
      color: #001927;
      font-size: 22px;
      line-height: 36px;
    }
    &.active{
      left: 0;
    }
  }

  .full_section_wrapper {
    height: auto;
    overflow: auto;
    .swiper-wrapper{
      display: block;
    }
  }

  .home_header__slider{
    .swiper-wrapper{
      display: flex;
    }
  }

  .full-section{
    height: auto !important;
  }

  .home_text_section{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 70px;
    margin-bottom: 70px;
    &__img{
      flex: 0 0 100%;
      max-width: 100%;
      position: relative;
      margin-bottom: 50px;
    }
    &__text{
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 0;
    }
    &.right_img{
      .home_text_section{
        &__text{
          padding-right: 0;
        }
      }
    }
    &.right_img{
      .home_text_section{
        &__img{
          order: 1;
        }
        &__text{
          order: 2;
        }
      }
    }
  }
  .contact_section{
    padding-top: 70px;
    padding-bottom: 70px;
  }

}


@media only screen and (max-width: 560px) {

  .footer{
    &__left{
      flex: 0 0 100%;
      max-width: 100%;
    }
    &__right{
      flex: 0 0 100%;
      max-width: 100%;
      .footer_item{
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }

  .contact_section__first_row .form-group {
    flex: 0 0 100%;
    max-width: 100%;
  }

}


