

@import 'custom-variables';
@import 'custom-styles';
@import 'vendor/swiper';
@import 'vendor/basicLightbox';
@import 'page/home';
@import 'partials/animations';
@import 'partials/footer';
@import 'partials/typography';
@import 'partials/buttons';
@import 'partials/nav';
@import 'partials/form';
@import 'partials/lightbox';



@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-SemiBold.woff2') format('woff2'),
  url('../fonts/Muli-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-ExtraLight.woff2') format('woff2'),
  url('../fonts/Muli-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Regular.woff2') format('woff2'),
  url('../fonts/Muli-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-ExtraBold.woff2') format('woff2'),
  url('../fonts/Muli-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Bold.woff2') format('woff2'),
  url('../fonts/Muli-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}



*{
  &:focus{
    outline: 0;
  }
}


body{
  margin: 0 auto;
  font-family: $font-family-base;
  font-weight: 300;
  font-size: rem(16);
  font-weight: normal;
  color: $text;
}


@import 'media';