.full_section_wrapper{
  height: 100vh;
  overflow: hidden;
  .swiper-pagination{
    right: 4%;
    &-bullet{
      background: #fff;
      opacity: 1;
      width: rem(12);
      height: rem(12);
      margin-bottom: rem(25) !important;
      margin-top: rem(25) !important;
      &-active{
        background: $warning !important;
      }
    }
    &:not(.firstSection){
      .swiper-pagination-bullet{
        background: rgba(#001927, 0.5);
      }
    }
  }
}

.home_header{
  position: relative;
  min-height: 500px;
  &.full-section{
    height: 100vh !important;
    min-height: 500px;
  }
  &__content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    z-index: 2;
    width: 100%;
    h1{
      font-weight: 200;
      color: #fff;
      span{
        color: $primary;
      }
    }
    .btn{
      margin-right: rem(15);
      margin-bottom: rem(20);
    }
  }
  &__slider{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000, 0.5);
      z-index: 2;
    }
    .swiper-slide{
      height: 100% !important;
      background-size: cover;
      background-position: center;
    }
  }
  &__nav{
    margin-top: rem(60);
    svg{
      fill: #fff;
      fill-rule: evenodd;
      transition: $transition;
      margin-right: rem(10);
      &:hover{
        fill: $warning;
        cursor: pointer;
      }
    }
  }
}

.home_text_section{
  padding-top: rem(200);
  padding-bottom: rem(100);
  &__img{
    flex: 0 0 42%;
    max-width: 42%;
    position: relative;
    img{
      box-shadow: 0px 11px 35px 0px rgba(95, 95, 95, 0.22);
    }
  }
  &__text{
    flex: 0 0 58%;
    max-width: 58%;
    padding-left: rem(94);
  }
  &.right_img{
    .home_text_section{
      &__img{
        order: 2;
      }
      &__text{
        order: 1;
        padding-left: 0;
        padding-right: rem(94);
      }
    }
  }
  ul{
    padding-left: 0;
    list-style: none;
    li{
      padding-left: rem(35);
      position: relative;
      font-size: rem(18);
      line-height: rem(32);
      margin-bottom: rem(14);
      &:last-child{
        margin-bottom: 0;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: rem(14);
        height: rem(10);
        background-image: url("/img/arrow.svg");
        background-size: cover;
      }
    }
  }
}

.contact_section{
  background: #f5f8fa;
  padding-top: rem(200);
  padding-bottom: rem(100);
  h4{
    margin-bottom: 0;
  }
  p{
    font-size: rem(15);
    line-height: rem(27);
    font-weight: 600;
    color: #7b94a5;
  }
  form{
    max-width: 580px;
    width: 100%;
    margin: rem(45) auto 0 auto;
  }
  &__first_row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -17px;
    margin-right: -17px;
    .form-group{
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 17px;
      padding-right: 17px;
    }
  }
  .btn-primary{
    margin-top: rem(10);
  }
}
