
.play_btn{
  width: rem(94);
  height: rem(94);
  display: block;
  border-radius: 50%;
  background: rgba($primary, 0.7);
  cursor: pointer;
  @include centerAbs();
  img{
    @include centerAbs();
    left: calc(50% + 5px)
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.5);
    height: 100%;
    width: 100%;
    background: rgba($primary, 0.2);
    border-radius: 50%;
    transition: $transition;
  }
  &:hover{
    &:before{
      animation: scale 1s linear 0.1s infinite alternate;
    }
  }
}

.btn{
  border-radius: 50px;
  display: inline-block;
  padding: rem(15) rem(30);
  font-size: rem(14);
  font-weight: 800;
  text-transform: uppercase;
  transition: $transition;
  cursor: pointer;
  box-shadow: 0 8px 8px 0 rgba(145,154,159, 0);
  &-light{
    border: 2px solid #fff;
    color: #002841;
    background: #fff;
    &:hover{
      background: transparent;
      color: #fff;
    }
  }
  &-outline-light{
    border: 2px solid #fff;
    color: #fff;
    &:hover{
      background: #fff;
      color: $secondary;
    }
  }
  &-primary{
    border: 2px solid $primary;
    color: #fff;
    background: $primary;
    &:hover{
      background: #fff;
      color: $primary;
    }
  }
  &-outline-primary{
    border: 2px solid $primary;
    color: #fff;
  }
  &:hover{
    box-shadow: 0 8px 8px 0 rgba(145,154,159,.16);
  }
}