.footer{
  background: $secondary;
  padding-top: rem(80);
  padding-bottom: rem(30);
  color: #fff;
  height: auto !important;
  &_item{
    margin-bottom: rem(30);
  }
  &__left{
    flex: 0 0 25%;
    max-width: 25%;
    .footer{
      &_item{
        padding-right: 25px;
        &__map{
          max-width: rem(200);
          @include aspect-ratio(1,1);
          border-radius: 50%;
          margin-top: rem(40);
        }
      }
    }
  }
  &__right{
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    .row{
      margin-left: -15px;
      margin-right: -15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .footer_item{
      padding-right: 15px;
      padding-left: 15px;
    }
    .copyright{
      position: absolute;
      right: 0;
      bottom: rem(30);
    }
  }
  h5{
    color: #fff;
  }
  a{
    color: #fff;
    &:hover{
      color: $primary;
    }
  }
  p{
    font-size: rem(15);
    line-height: rem(28);
  }
  ul{
    padding-left: 0;
    list-style: none;
    li{
      margin-bottom: rem(12);
      a{
        font-size: rem(15);
        line-height: rem(22);
        padding: rem(6) 0;
      }
    }
  }
}