.form-group{
  margin-bottom: rem(20);
  textarea{
    height: rem(160);
  }
  input, textarea{
    width: 100%;
    border: 0;
    box-shadow: 0px 3px 6px 0px rgba(145, 154, 159, 0.08);
    transition: $transition;
    padding: rem(24) rem(15) rem(9) rem(15);
    font-size: 15px !important;
    line-height: 15px !important;
    color: #002841;
    font-weight: 600;
    border: 1px solid #fff;
    &:focus + label{
      top: rem(17);
      font-size: rem(11);
      color: #7b94a5;
    }
  }
  label{
    position: absolute;
    left: rem(15);
    top: rem(25);
    transform: translateY(-50%);
    font-size: rem(15);
    font-weight: normal;
    color: #7b94a5;
    transition: $transition;
  }
  &:hover{
    input{
      box-shadow: 0px 8px 8px 0px rgba(145, 154, 159, 0.16);
    }
  }
  &.not-empty{
    label{
      top: rem(17);
      font-size: rem(11);
      color: #7b94a5;
    }
  }
  &.has-error{
    input, textarea{
      color: #ff3139;
      border: 1px solid #ff3139;
    }
  }
}

.custom-checkbox{
  margin-bottom: rem(20);
  input{
    display:  none;
  }
  label{
    padding-left: rem(28);
    position: relative;
    display: block;
    font-size: 11px;
    color: #002841;
    &:before {
      content: '';
      -webkit-appearance: none;
      background-color: transparent;
      background: #fff;
      display: inline-block;
      box-shadow: inset 0.707px 0.707px 1px 0px rgba(0, 0, 0, 0.16);
      width: rem(17);
      height: rem(17);
      position: absolute;
      left: 0;
      top: 0;
      display: block;
    }
    &:after{
      content: '';
      width: rem(11);
      height: rem(9);
      background-image: url(/img/checkbox.svg);
      position: absolute;
      left: rem(3);
      top: rem(5);
      opacity: 0;
      transition: $transition;
    }
  }
  input:checked + label:after {
    opacity: 1;

  }
  &.has-error{
    label{
     color: #ff3139;
      &:before{
        box-shadow: inset 0.707px 0.707px 1px 0px rgba(#ff3139, 0.6);
      }
    }
  }
}



