.navbar-nav{
  position: fixed;
  z-index: 1030;
  left: 0;
  top: 0;
  width:100%;
  padding-top: rem(35);
  padding-bottom: rem(35);
  transition: $transition;
  &__brand{
    width: rem(90);
    transition: $transition;
  }
  .row{
    align-items: center;
  }
  &.active{
    background: $secondary;
    padding-top: rem(10);
    padding-bottom: rem(10);
    .navbar-nav__brand{
      width: rem(65);
    }
  }
}

.nav{
  display: flex;
  flex-direction: row;
  padding-left: 0;
  list-style: none;
  margin: 0 0 rem(10) auto;
  &-item{
    &:first-child{
      .nav-link{
        margin-left:0;
        padding-right: 0;
      }
    }
  }
  &-link{
    font-size: rem(16);
    font-weight: 700;
    color: #fff;
    margin-left: rem(60);
    padding: rem(10);
    &:hover{
      color: $primary;
    }
  }
}