h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  color: #002841;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: rem(30);
}

h1{
  font-size: rem(40);
  margin-bottom: rem(45);
}

h2{
  font-size: rem(36);
  line-height: rem(36);
  margin-bottom: rem(38);
}
h4{
  font-size: rem(18);
  font-weight: 600;
  color: #333333;
  margin-bottom: rem(10);
}

h5{
  font-size: rem(15);
  margin-bottom: rem(22);
}

p{
  font-size: rem(18);
  line-height: rem(32);
  margin-top: 0;
  margin-bottom: rem(30);
  &:last-child{
    margin-bottom: 0;
  }
}